.subtitle {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.descr {
    margin-top: 40px;
    font-size: 36px;
    font-weight: 300;
}
.btn {
    background-color: transparent;
    border: 2px solid #f9f9f9;
    border-radius: 28px;
}

.link {
    display: block;
    height: 52px;
    padding-top: 17px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}