@import url("_common.css");
@import url("_header.css");
@import url("_about.css");
@import url("_gallery.css");
@import url("_music.css");
@import url("_footer.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

button {
    background-color: transparent;
}